# Dependency folders
node_modules
npm-debug.log

# Build output
dist
build

# Environment variables
.env
.env.production

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# OS specific files
.DS_Store
Thumbs.db